body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixelmon.pro%2Fcommunity%2Fthreads%2Fpixelmon-abilities-%25D0%25A1%25D0%25BF%25D0%25BE%25D1%2581%25D0%25BE%25D0%25B1%25D0%25BD%25D0%25BE%25D1%2581%25D1%2582%25D0%25B8-%25D0%259F%25D0%25BE%25D0%25BA%25D0%25B5%25D0%25BC%25D0%25BE%25D0%25BD%25D0%25BE%25D0%25B2-%25D0%259F%25D0%25B8%25D0%25BA%25D1%2581%25D0%25B5%25D0%25BB%25D1%258C%25D0%25BC%25D0%25BE%25D0%25BD-%25D0%2593%25D0%25B0%25D0%25B9%25D0%25B4-pixelmon-guide.1783%2F&psig=AOvVaw27dWs58F9hTGd0kp8-S7vi&ust=1727953682008000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMDZip_H74gDFQAAAAAdAAAAABAE');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

.battlefield {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.pokemon {
    width: 200px;
    text-align: center;
}

.pokemon-image {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.health-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.health {
    height: 100%;
    background-color: green;
    transition: width 0.5s;
}

/* Покебол для анимации */
.pokeball {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
}
